<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Twitter</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <div class="login container-fluid row h-100">
        <div class="col-6 login-left">
            <div class="info">
                <p>Follow your interests.</p>
                <p>Hear what people are talking about.</p>
                <p>Join the conversation.</p>
            </div>
        </div>
        <div class="col-6 login-right">
            col 2
        </div>  
    </div>
</body>
</html>