html, body {
    height: 100%;
}

a, a:hover, a:visited {
    text-decoration: none;
}

body.main {
    background-color: rgb(227, 233, 233);
}

nav.navbar a {
    color: gray;
    font-weight: bold;
    font-size: 0.8rem;
}

div#main {
    /*background-color: white;*/
    width: 90%;
    padding-top: 20px;
}

.mid-content {
    min-width: 400px;
}

div#user {
    text-align: center;
}

img.card-img-top {
    height: 4rem;
}

.tweet-num {
    float: left;
}

.follower-num {
    float: right;
}

.follower-num, .following-num, .tweet-num {
    margin-top: 15px;
    margin-bottom: -10px;
    display: inline-block;
}

.tweet-form-container {
    background-color: rgba(143, 236, 236, 0.384);
    width: 100%;
    height: 130px;
}

.form-group.tweet {
    margin: auto;
    width: 70%;
    padding-top: 15px;
}

.name, .handle, .user-handle {
    display: inline;
}

.handle a, a.user-handle {
    color: gray;
}

#tweet-send {
    float: right;
    margin-top: 5px;
}

.card.see-content {
    margin-top: 5px;
    width: 100%;
}

/* Begin login page styling */
.login-left {
    color: white;
    background-color: rgb(73, 149, 192);
}

div.info {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20%;
    margin-left: 30px;
}

.login-right {
    background-color: white;
}